src/conf/xml-resources/web-service-references/DownUnderWS/wsdl/localhost_8080/downUnderWS/DownUnderWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://downunderserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://downunderserver/" name="DownUnderWS">
<types>
<xsd:schema>
<xsd:import namespace="http://downunderserver/" schemaLocation="http://localhost:8080/downUnderWS/DownUnderWS?xsd=1"/>
</xsd:schema>
</types>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="encerraPartida">
<part name="parameters" element="tns:encerraPartida"/>
</message>
<message name="encerraPartidaResponse">
<part name="parameters" element="tns:encerraPartidaResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="obtemTabuleiro">
<part name="parameters" element="tns:obtemTabuleiro"/>
</message>
<message name="obtemTabuleiroResponse">
<part name="parameters" element="tns:obtemTabuleiroResponse"/>
</message>
<message name="soltaEsfera">
<part name="parameters" element="tns:soltaEsfera"/>
</message>
<message name="soltaEsferaResponse">
<part name="parameters" element="tns:soltaEsferaResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<portType name="DownUnderServer">
<operation name="preRegistro">
<input wsam:Action="http://downunderserver/DownUnderServer/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://downunderserver/DownUnderServer/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
<operation name="registraJogador">
<input wsam:Action="http://downunderserver/DownUnderServer/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://downunderserver/DownUnderServer/registraJogadorResponse" message="tns:registraJogadorResponse"/>
</operation>
<operation name="encerraPartida">
<input wsam:Action="http://downunderserver/DownUnderServer/encerraPartidaRequest" message="tns:encerraPartida"/>
<output wsam:Action="http://downunderserver/DownUnderServer/encerraPartidaResponse" message="tns:encerraPartidaResponse"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://downunderserver/DownUnderServer/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://downunderserver/DownUnderServer/temPartidaResponse" message="tns:temPartidaResponse"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://downunderserver/DownUnderServer/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://downunderserver/DownUnderServer/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
</operation>
<operation name="obtemTabuleiro">
<input wsam:Action="http://downunderserver/DownUnderServer/obtemTabuleiroRequest" message="tns:obtemTabuleiro"/>
<output wsam:Action="http://downunderserver/DownUnderServer/obtemTabuleiroResponse" message="tns:obtemTabuleiroResponse"/>
</operation>
<operation name="soltaEsfera">
<input wsam:Action="http://downunderserver/DownUnderServer/soltaEsferaRequest" message="tns:soltaEsfera"/>
<output wsam:Action="http://downunderserver/DownUnderServer/soltaEsferaResponse" message="tns:soltaEsferaResponse"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://downunderserver/DownUnderServer/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://downunderserver/DownUnderServer/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
</operation>
</portType>
<binding name="DownUnderServerPortBinding" type="tns:DownUnderServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encerraPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemTabuleiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soltaEsfera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DownUnderWS">
<port name="DownUnderServerPort" binding="tns:DownUnderServerPortBinding">
<soap:address location="http://localhost:8080/downUnderWS/DownUnderWS"/>
</port>
</service>
</definitions>